@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h2>Jim was here</h2>

Welcome to your new app. Generative AI Test Bed.

<SurveyPrompt Title="How is Blazor working for you?" />
